@model IEnumerable<_2011116302_ENT.Entityes.Trabajador>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoTrabajador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreTrabajador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoPaTrabajador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoMaTrabajador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DniTrabajador)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoTrabajador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreTrabajador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoPaTrabajador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoMaTrabajador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DniTrabajador)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TrabajadorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TrabajadorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TrabajadorId })
        </td>
    </tr>
}

</table>
